*{
    background-image: url(https://www.logolynx.com/images/logolynx/8c/8cd42a5372ed2d388de249db67940792.jpeg);
    background-size: cover;
}
button{
    color: aliceblue;
}

p{
    color: aliceblue;
}
h{
    color: aliceblue;
}
